div#content{

	section#atelie{
		background-color:#f3f2e9;
		padding:80px 0;
	}

	section#detalhes{
		padding:80px 0;	
		background-color:#fcfcfc;

		ul{
			list-style-type:none;
			margin-bottom: 20px;

			li{
				margin: 15px 0px;
			}
			li:before{
				content: "\2713 \00a0";
				font-weight:bold;
			}
		}

		div.atelie{
			margin-bottom:50px;
		}
	}

	section#eventos{
		padding-top:80px;
	}

	section#blog{
		
		div.menu-blog{
			div.col-md-4{
				a{
					color:white;
					display:inline-block;
					padding:25px 80px;
					font-family:FuturaBT, Verdana, Geneva, sans-serif;
					font-size:20px;
					font-weight:bold;
				}
			}
			div.col-md-4:hover{
				background-color:#dad38b !important;
			}
		}
		
		div.posts{
			margin-top:40px;

			div.paginacao{
				.page-numbers{
					padding:5px;
					background-color:#ececec;
				}
				.current{
					background-color:#ffc700;
				}
			}

			article.blog{
				text-align: left;
				padding-bottom: 30px;
				margin-bottom: 40px;

				h1{
					margin:20px 0;
				}	

				h1.small{
					margin: 20px 0;

					color:#baad29 !important;
					font-weight:normal;

				}

				h2.entry-title{
					margin: 20px 0;
					a{
						color:#baad29;
						font-weight:normal;
					}
				}
				div.entry-summary{
					p.confira{
						margin-top: 20px;

						a{
							font-weight: bold;
							font-size: 12px;
							color:#baad29;
						}

						a:hover{
							color:#dad38b !important;
						}
					}
				}

			}
		}

		div.posts-single{

			div.paginacao{
				.page-numbers{
					padding:5px;
					background-color:#ececec;
				}
				.current{
					background-color:#ffc700;
				}
			}

			article.blog{
				text-align: left;
				padding-bottom: 30px;
				margin-bottom: 40px;

				h1{
					margin:20px 0;
				}	

				h1.small{
					margin: 20px 0;

					color:#baad29 !important;
					font-weight:normal;

				}

				h2.entry-title{
					margin: 20px 0;
					a{
						color:#baad29;
						font-weight:normal;
					}
				}
				div.entry-summary{
					p.confira{
						margin-top: 20px;

						a{
							font-weight: bold;
							font-size: 12px;
							color:#baad29;
						}

						a:hover{
							color:#dad38b !important;
						}
					}
				}

			}

		}

	}

	section#sobre{
		padding-bottom:40px;

		ul{
			list-style-type:none;
			margin-bottom: 20px;

			li{
				margin: 15px 0px;
			}
			li:before{
				content: "\2713 \00a0";
				font-weight:bold;
			}
		}	
	}

	section#fotos-sobre{
		padding:25px 0;
		background-color:#f3f2e9;
	}

	section#atelie-menu{
	
	}

	section#redes-bot{
		padding:80px 0;	
	
		.redes_sociais_bot{
			margin-bottom: 5px;
			height:67px;
			text-align: left;
			list-style:none;
			margin: 0 auto;
			margin-top: 30px;
			width: 310px;
			padding:0;
		}

		.redes_sociais_bot li:hover{
		    opacity: 0.6;
		    filter: alpha(opacity=60); /* For IE8 and earlier */
		}

		.redes_sociais_bot a{
			display: inline-block;
			width:67px;
			height:67px
		}

		.redes_sociais_bot .youtube{
			background-image: url("images/redes-bot.jpg");
			background-position: left,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .instagram{
			background-image: url("images/redes-bot.jpg");
			background-position: -80px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .twitter{
			background-image: url("images/redes-bot.jpg");
			background-position: -160px,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}

		.redes_sociais_bot .facebook{
			background-image: url("images/redes-bot.jpg");
			background-position: right,center;
			background-repeat:no-repeat;
			width:67px;
			height:67px;
			display:inline-block;		
		}
	}

}
@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
